

body {
    background: lightgrey;
    font-family: "Neutra Text Light";

}

h1 {
    text-transform: uppercase;
    font-weight: 250;
}

.btn {
   padding: .50rem 1.5rem;
}

.dropdown-item {
    font-family: "Neutra Text Light";
    font-weight: 150;
}

.mb-4{
    min-width: 300px;
    max-width: 20%;
}

.card-deck{
    position: absolute;
    
}
.img_film img{
    display: block;
    margin:auto;
    margin-bottom: 10px;
}
.fiche{
    color:rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 60px;
    

}
.infos_film h3{
    font-size:20px;
    margin-left:25px;
}
.syno{
    text-align: center;
    font-size: 20px;
}

.container select{
    max-width: 180px;
}

.resultattitre{
    width: 100%;
    text-align: left;
}

.card-title{
    min-height: 60px;
}

.carousel{
    width: 50%;
}

.carousel-inner{
    width: 50%;
    align-items: center;
}

/* *{
    background-color: rgba(0,0,0,0.2)
} */
.col-lg-3
{
    padding-top: 125px;
}
.navbar
{
    background-color : rgb(150, 150, 150);
}
footer
{
    background-color: rgb(150, 150, 150);
}
.card-deck
{
    padding-bottom: 100px;
}


@media (min-width: 768px){
    .syno{
    text-align: center;
    font-size: 24px;
    }
    .infos_film h3{
    font-size:24px;
    }
    .img_film img{
    margin-right:40px;
}
}


