body {
    background: lightgrey;
}


.mb-4{
    min-width: 300px;
    max-width: 20%;
}

.card-deck{
    position:absolute;
}

.container{
    color:rgb(1, 110, 235);
    text-align: center;
}
.container select{
    max-width: 180px;
}
/* *{
    background-color: rgba(0,0,0,0.2)
} */

