

body {
    background-color:white;
    font-family: "Neutra Text Light";

}

h1 {
    text-transform: uppercase;
    font-weight: 250;
}

.btn {
   padding: .50rem 1.5rem;
}

.dropdown-item {
    font-family: "Neutra Text Light";
    font-weight: 150;
}

.mb-4{
    min-width: 300px;
    max-width: 20%;
}
.container h1{
    font-family: 'abel', sans-serif;
    font-size:50px;
}

.card-deck{
    position: absolute;
    
}
.img_film img{
    display: block;
    margin:auto;
    margin-bottom: 10px;
}
.fiche{
    color:#707173;
    text-align: left;
    margin-bottom: 60px;
}
.infos_film h3{
    font-size:20px;
    margin-left:25px;
    font-family: 'Prata', serif;
}
.syno{
    text-align: center;
    font-size: 16px;
    font-family: 'Prata', serif;
    color:#707173;
}

.container select{
    max-width: 180px;
}

.resultattitre{
    width: 100%;
    text-align: left;
}

.card-title{
    min-height: 60px;
}

*{
    background-color: rgba(0,0,0,0.2)
}
.col-lg-3
{
    padding-top: 125px;
}
.navbar
{
    background-color:white;
}
footer
{
    background-color:white;
}
.card-deck
{
    padding-bottom: 100px;
}
.logo{
    width:auto;
    height:95px;
}

.titre_films{
    max-width:100% !important;
    margin-top:110px;
 
}
.ligne{
    width: 50%;
    margin: auto;
    height: 1px;
    background: black;
}
.titre_de_film h1{
    font-family: 'Abel', sans-serif;
    font-size:60px;
    color:black;
}

#titre_resultat{
    padding-top:120px;
}

@media (min-width: 768px){
    .syno{
    text-align: center;
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    color:#707173;
    }
    .infos_film h3{
    font-size:24px;
    font-family: 'Abel', sans-serif;
    }
    .img_film img{
    margin-right:40px;
}
}


